{% extends 'base.html.twig' %}

{% block title %} SMEG Le blog {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': 4
    }) }}

    {# sonata file d'ariane #}
    {# {% block sonata_page_breadcrumb %}
        <div class="col-lg-12">
            {{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
        </div>
    {% endblock %} #}
	<div id="ABdev_header_spacer"></div>

	<section id="headline_breadcrumbs_bar" style="background-image: url(/images/background_blog.jpg)">
		<div class="container">
			<div class="row">
				<div class="span12 center_aligned">
					<h2><span class="black">SMEG -</span> Le blog</h2>
				</div>
			</div>
		</div>
	</section>
    
	<section>
		<div class="container">
			<div class="row">
				<div class="blog_category_index blog_category_index_right_mini span9 content_with_right_sidebar">

                    {# 
                        <div class="col-lg-12">
                            <h1>{{ 'title_archive'|trans({}, 'SonataNewsBundle') }}</h1>
                        </div>
                    #}

                    {% for post in pager.getResults() %}

                    <div class="post post_wrapper has-post-thumbnail clearfix">
						<div class="post_content">
							<div class="post_main">
								<div class="row">
									<div class="span5">
                                        {% media post.image, 'small' %}
									</div>
									<div class="span7 post_main_inner_wrapper">
										<div class="post_type">
											<i class="ci_icon-photo"></i>
										</div>	
										<h2>
											<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
										</h2>
										<span class="post_author">By 
											<span>
												<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" title="Posts by {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}" rel="author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</a>
												<i class="ci_icon-circle"></i>
											</span>
											<span class="post_date_inner">{{ post.publicationDateStart | format_date }}
												<i class="ci_icon-circle"></i>
											</span>
											<span class="post_category">
                                                {% for tag in post.tags %}
                                                    <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}" rel="category tag">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                                                {% endfor %}
											</span>
										</span> 
										<div class="post_padding">
											<p>{{ post.abstract }}</p>
										</div>
										<div class="post-readmore">
											<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" class="more-link">Lire la suite</a>
											<p class="post_meta_tags">
                                                <i class="ci_icon-comment"></i>{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

                    {% else %}
                        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
                    {% endfor %}
                    
					<section id="blog_pagination" class="clearfix">
						<div class="pagination"> 
							<a class="page-numbers" href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">
								<i class="ci_icon-chevron-left"></i>
							</a>
							<a class="page-numbers" href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">
								<i class="ci_icon-chevron-right"></i>
							</a>
						</div>
					</section>						

				</div>
                {{ sonata_block_render({ 'type': 'sonata.block.service.news.aside' }, {
                    'template': 'block/news/aside.html.twig'
                }) }}            
			</div>
		</div>
	</section>
                    
{% endblock %}
