{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}
<h3 id="comments-title">{{ 'title_comments'|trans({}, 'SonataNewsBundle') }} ({{pager.results|length}})</h3>
<ol class="commentlist">
    {% for comment in pager.results %}
    <li class="comment clearfix">
        <img alt='' src='images/ad516503a11cd5ca435acc9bb6523536.png' class='avatar'/>
        <a href="{{ comment.url }}"> <span class="comment-author">{{ comment.name }}</span> </a>  
        <time datetime="{{ comment.createdAt | format_date }}">{{ comment.createdAt | format_date }}</time>				
        <div class="comment-text">
            <p>{{ comment.message }}</p>
            {# <span class="reply">
                <a href='#respond' onclick='return addComment.moveForm("comment-35", "35", "respond", "4537")'>Reply</a>
            </span> #}
        </div>
        {# <ul class="children">
            <li class="comment clearfix">
                <img alt='' src='images/76719d6d2692e9d1930d755587fbcb30.jpeg' class='avatar'/>
                <span class="comment-author">Charlene Crawford</span>  
                <time datetime="2014-10-16T09:41:16+00:00">October 16, 2014 09:41</time>
                <div class="comment-text">
                    <p>Thanks for your opinion.</p>
                    <span class="reply">
                        <a href='#respond' onclick='return addComment.moveForm("comment-37", "37", "respond", "4537")'>Reply</a>
                    </span>
                </div>
            </li>
        </ul> #}
    </li>
    {% else %}
        <li>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</li>
    {% endfor %}
</ol> 
