
<div id="respond">
    <h3 id="reply-title" class="comment-reply-title">{{'title_leave_comment'|trans({}, 'SonataNewsBundle') }} 
        <small>
            <a rel="nofollow" id="cancel-comment-reply-link" href="#respond" class="display_none">Cancel reply</a>
        </small>
    </h3>
    {{ form_start(form, { attr: { id: 'commentform', class: 'comment-form', role: 'form' } }) }}
        <p class="comment-notes">Your email address will not be published. Required fields are marked 
            <span>*</span>
        </p>
        <div class="comment_fields">
            <p>
                {{ form_widget(form.name, { attr: { id: 'author', size:"30", 'aria-required': "true" } }) }}
                {# <input id="author" name="author" type="text" placeholder="Name*" value=""  /> #}
            </p>
            <p>
                {{ form_widget(form.email, { attr: { id: 'email', name:"email", size:"30", 'aria-required': "true" } }) }}
                {# <input type="text" placeholder="E-mail*" value="" /> #}
            </p>
            <p>
                {{ form_widget(form.url, { attr: { id: 'url', type:"text", value:"", placeholder:"Website", name:"url", size:"30",  'aria-required': "true" } }) }}
                {# <input     /> #}
            </p>
        </div>
        <p class="comment-form-comment">
            {{ form_widget(form.message, { attr: { id: 'comment', size:"30", cols:"45", rows:"8", 'aria-required': "true" } }) }}
            {# <textarea id="comment" name="comment" placeholder="Your Comment" cols="45" rows="8" aria-required="true">
            </textarea> #}
        </p>
        <p class="form-submit">
            <input name="submit" type="submit" id="comment-submit" value="Post Comment" />
            <input type='hidden' name='comment_post_ID' value='4537' id='comment_post_ID' />
            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
        </p>
    {{ form_end(form) }}
</div>
