{% extends 'base.html.twig' %}

{% block title %} SMEG - {{ post.title }} {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': 4
    }) }}

	<div id="ABdev_header_spacer"></div>

	<section id="headline_breadcrumbs_bar" style="background-image: url(/images/background_blog.jpg)">
		<div class="container">
			<div class="row">
				<div class="span12 center_aligned">
					<h2>{{ post.title }}</h2>
				</div>
			</div>
		</div>
	</section>

    {# {% block sonata_page_breadcrumb %}
        <div class="col-lg-12">
            {{ sonata_block_render_event('breadcrumb', { 'context': 'news_post', 'post': post, 'current_uri': app.request.requestUri }) }}
        </div>
    {% endblock %} #}
	<section>
		<div class="container">
			<div class="row">
				<div class="span9 content_with_right_sidebar">
					<div class="post_content">
						<div class="post_main">
                            {% media post.image, 'big' %}
							{# <img src="images/portfolio12.jpg" class="wp-post-image" alt="" /> #}
							<div class="postmeta-above clearfix">
								<div class="post_info">
									<div class="post_date">
										<span class="post_main_date">
                                            {{ post.publicationDateStart | format_date('dd') }}
                                        </span>
										<span class="post_main_month">
                                            {{ post.publicationDateStart | date('F') }}
                                            {# {{ post.publicationDateStart | format_date('MM-dd-yyyy') }} Oct #}
                                        </span>												
									</div>
								</div>
								{# <div class="post_type">
									<i class="ci_icon-photo"></i>
								</div>	 #}
								<h5>
									<a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
								</h5>
								<span class="post_author">
									<span class="post_author_inner">
										<i class="ci_icon-user"></i>By 
										<a href="#" title="Posts by Charlene Crawford" rel="author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</a>
									</span>
									<span class="post_tags">
										<i class="ci_icon-labels"></i> 
                                        {% for tag in post.tags %}
                                            <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}" rel="tag">{{ tag.name }}</a>, 
                                        {% endfor %}
									</span>
								</span> 
							</div>
							<p>{{ post.content|raw }}</p>
							<div class="postmeta-under clearfix">
								<div class="postmeta-share">
									<p class="post_meta_share">
										<span>Share</span>
										<a class="post_share_twitter" href="#"><i class="ci_icon-twitter"></i></a>
										<a class="post_share_facebook" href="#"><i class="ci_icon-facebook"></i></a>
										<a class="post_share_googleplus" href="#"><i class="ci_icon-google-plus"></i></a>
										<a class="post_share_linkedin" href="#"><i class="ci_icon-linkedin"></i></a>
									</p>
								</div>
							</div>
							<div class="post-navigation">
								<div class="previous_post">
									<a href="blog-single-post.html" rel="prev">
										<span class="previous_post_icon">
											<i class="ci_icon-chevron-left"></i>
										</span>Previous post
									</a>
								</div>
								<div class="next_post">
									<a href="blog-single-post.html" rel="next">
										Next post <span class="next_post_icon">
											<i class="ci_icon-chevron-right"></i>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<section id="comments_section" class="section_border_top">
						<div id="comments">
                            {{ render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) }}
                            {% if post.iscommentable %}
                                {{ render(controller('SonataNewsBundle:Post:addCommentForm', {
                                    'postId': post.id,
                                    'form': form
                                })) }}
                            {% else %}
                                <div>
                                    {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
                                </div>
                            {% endif %}
						</div>
					</section>
				</div>
                {{ sonata_block_render({ 'type': 'sonata.block.service.news.aside' }, {
                    'template': 'block/news/aside.html.twig'
                }) }}            
            </div>
		</div>
	</section>

{% endblock %}
