{% extends 'base.html.twig' %}

{% block title %} SMEG - Services {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': page
    }) }}

	<div id="ABdev_header_spacer"></div>

	<section>
		<div class="container">
			<div class="row">
				<div id="portfolio_single_column" class="span12 content ">
					<div class="portfolio_single_column_item ">
						<div class="row portfolio_inner_content">
							<div class="portfolio_item">
								<div class="overlayed">
									<img src="images/page-en-construction.png" alt="portfolio1" />				
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

			
{% endblock %}
