{% extends 'base.html.twig' %}

{% block title %} SMEG {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': page
    }) }}

    {{ sonata_block_render({ 'type': 'sonata.block.service.home.slider' }, {
        'template': 'block/home/slider.html.twig'
    }) }}

	<section class="vozx_section_dd aligncenter white_text vozx-parallax" data-background_image="images/background_1.jpg" data-parallax="0.6">
			<div class="vozx_section_content">
				<div class="vozx_container">
					<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
						<h2><span><strong>SMEG</strong> - Regroupement d'ingénieurs</span></h2>
						<h3 class="light"><span>Géologues miniers, exploitants miniers, Génie civil, Environnement, Maintenance industrielle.</span></h3>
					</div>
				</div>
			</div>
	</section>
{# 
	<section class="vozx_section_dd pattern_overlayed aligncenter overflowed">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 ">
					<div class="vozx-animo image_overlap" data-animation="fadeIn" data-duration="1000" data-delay="0">
						<img src="images/image_screen.png" alt="">
					</div>
					<span class="clear spacer_responsive_hide_mobile spacer_responsive_hide_tablet spacer_210"></span>
					<h5 class="light"><span>MORBI SEM MAGNAD VIVERRA QUIS SOLLICITUDIN QUIS SED NUNC SAGITTIS</span></h5>
				</div>
			</div>
		</div>
	</section>
 #}

 	{{ sonata_block_render({ 'type': 'sonata.block.service.home.service' }, {
		'template': 'block/home/service.html.twig'
	}) }}

	<section class="vozx_section_dd aligncenter no_padding_bottom">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 ">
					<h3 class="smaller"><span>LA PROCEDURE</span></h3>
					<h6 class="subtitle_color"><span>Morbi sem magnad viverra quis sollicitudin quis sed nunc sagittis dapibus nisl augue sed auris</span></h6>
				</div>
			</div>
		</div>		
	</section>

	<section class="vozx_section_dd overflowed no_padding">		
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="200">
					<div class="vozx_service_box vozx_service_box_boxed_inside">
						<div class="vozx_service_box_header">
							<div class="vozx_icon_boxed">
								<i class="icon-crosshairs"></i>
							</div>
							<h3>CONCEPTS &amp; BRAINSTORMING</h3>
						</div>
						<p>Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis nuc</p>
					</div>
				</div>
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="500">
					<div class="vozx_service_box vozx_service_box_boxed_inside">
						<div class="vozx_service_box_header">
							<div class="vozx_icon_boxed">
								<i class="icon-trello"></i>
							</div>
							<h3>RECHERCHE &amp; CONSTRUCTION DE MAQUETTE</h3>
						</div>
						<p>Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis nuc</p>
					</div>
				</div>
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="800">
					<div class="vozx_service_box vozx_service_box_boxed_inside">
						<div class="vozx_service_box_header">
							<div class="vozx_icon_boxed">
								<i class="icon-desktop"></i>
							</div>
							<h3>DÉVELOPPEMENT DE LA SOLUTION</h3>
						</div>
						<p>Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis nuc</p>
					</div>
				</div>
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="1100">
					<div class="vozx_service_box vozx_service_box_boxed_inside last">
						<div class="vozx_service_box_header">
							<div class="vozx_icon_boxed">
								<i class="icon-rocket"></i>
							</div>
							<h3>DEPLOIEMENT &amp; MAINTENANCE</h3>
						</div>
							<p>Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis nuc</p>
					</div>
				</div>
			</div>
		</div>		
	</section>
	{{ sonata_block_render({ 'type': 'sonata.block.service.home.blog' }, {
		'template': 'block/home/blog.html.twig',
		'posts' : blogPost
	}) }}
	<section class="vozx_section_dd aligncenter">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 ">
					<h4 class="light"><span>Nous vous accompagnons dans processus d’implémentation de vos solutions grâce à notre expertise et nous produisons des solutions adaptées a vos besoins et qui vous permettent vos objectifs et vos valeurs.</span></h4>
				</div>
			</div>
		</div>		
	</section>

	<section class="vozx_section_dd darken smaller_headline no_padding_bottom vozx-parallax section_with_header" data-background_image="images/background_3.jpg" data-parallax="0.6">
		<header>
			<div class="vozx_container">
				<h3>QUELQUES CHIFRES</h3>
			</div>
		</header>
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span3">
					<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
						<i class="icon-group"></i>
						<span class="vozx_stats_number white_text" data-number="150" data-duration="1500"></span>
						<span class="vozx_stats_number_sign">+</span>
						<p>Clients heureux</p>
					</div>
				</div>
				<div class="vozx_column_dd_span3">
					<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
						<i class="icon-send"></i>
						<span class="vozx_stats_number white_text" data-number="2500" data-duration="1500"></span>
						<span class="vozx_stats_number_sign">+</span>
						<p>Projets livrés</p>
					</div>
				</div>
				<div class="vozx_column_dd_span3">
					<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
						<i class="icon-copy"></i>
						<span class="vozx_stats_number white_text" data-number="5000" data-duration="1500"></span>
						<span class="vozx_stats_number_sign">+</span>
						<p>articles publiés</p>
					</div>
				</div>
				<div class="vozx_column_dd_span3">
					<div class="vozx_stats_excerpt vozx_stats_excerpt_1">
						<i class="icon-retweet"></i>
						<span class="vozx_stats_number white_text" data-number="100000" data-duration="1500"></span>
						<span class="vozx_stats_number_sign">+</span>
						<p>Partage Facebook</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="vozx_section_dd section_with_header section_gray">
		<header>
			<div class="vozx_container">
				<h3><span lang="en-my">SMEG</span> TEAM</h3>
			</div>
		</header>
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="200">
					<div class="vozx_team_member">
						<div class="vozx_overlayed">
							<img src="images/team1.jpg" alt="WILLIAM HARPER">
							<div class="vozx_overlay">
								<p class="team_content">Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagit tis dapibus nis estibulum dignissim consectetuer nequ Pellentesque vitae purus non elit.</p>
								<p>
									<a href="#" target="_self"><i class="ci_icon-twitter"></i></a>
									<a href="#" target="_self"><i class="ci_icon-facebook"></i></a>
									<a href="#" target="_self"><i class="ci_icon-google-plus"></i></a>
									<a href="#" target="_self"><i class="ci_icon-pinterest"></i></a>
								</p>
							</div>
						</div>
						<a href="#">
							<span class="vozx_team_member_name">Éric Marcellin Andéla</span>
							<span class="vozx_team_member_position">ING / CEO / FOUNDER</span>
						</a>
					</div>
				</div>
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="500">
					<div class="vozx_team_member">
						<div class="vozx_overlayed">
							<img src="images/team4.jpg" alt="SARA JONES">
							<div class="vozx_overlay">
								<p class="team_content">Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagit tis dapibus nis estibulum dignissim consectetuernequ. Pellentesque vitae purus non elit.</p>
								<p>
									<a href="#" target="_self"><i class="ci_icon-twitter"></i></a>
									<a href="#" target="_self"><i class="ci_icon-facebook"></i></a>
									<a href="#" target="_self"><i class="ci_icon-google-plus"></i></a>
									<a href="#" target="_self"><i class="ci_icon-pinterest"></i></a>
								</p>
							</div>
						</div>
						<a href="#">
							<span class="vozx_team_member_name">SARA JONES</span>
							<span class="vozx_team_member_position">DEVELOPER</span>
						</a>
					</div>
				</div>
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="800">
					<div class="vozx_team_member">
						<div class="vozx_overlayed">
							<img src="images/team2.jpg" alt="DAVE SERGIO">
							<div class="vozx_overlay">
								<p class="team_content">Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagit tis dapibus nis estibulum dignissim consectetuer nequ Pellentesque 			vitae purus non elit.</p>
								<p>
									<a href="#" target="_self"><i class="ci_icon-twitter"></i></a>
									<a href="#" target="_self"><i class="ci_icon-facebook"></i></a>
									<a href="#" target="_self"><i class="ci_icon-google-plus"></i></a>
									<a href="#" target="_self"><i class="ci_icon-pinterest"></i></a>
								</p>
							</div>
						</div>
						<a href="#">
							<span class="vozx_team_member_name">DAVE SERGIO</span>
							<span class="vozx_team_member_position">DESIGNER</span>
						</a>
						<div class="vozx_team_member_modal">
							<h4 class="vozx_team_member_name">DAVE SERGIO</h4>
							<p class="vozx_team_member_position">DESIGNER</p>
							<div class="vozx_container">
								<div class="vozx_column_dd_span6">
									<img src="images/team2.jpg" alt="DAVE SERGIO">
								</div>
								<div class="vozx_column_dd_span6">
									Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagit tis dapibus nis estibulum dignissim consectetuer nequ Pellentesque vitae purus non elit.
								</div>
							</div>
							<div class="vozx_team_member_modal_close">X</div>
						</div>
					</div>
				</div>
				<div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="1100">
				<div class="vozx_team_member">
					<div class="vozx_overlayed">
						<img src="images/team3.jpg" alt="ANDREA SMITH">
						<div class="vozx_overlay">
							<p class="team_content">Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagit tis dapibus nis estibulum dignissim consectetuer nequ Pellentesque vitae purus non elit.</p>
							<p>
								<a href="#" target="_self"><i class="ci_icon-twitter"></i></a>
								<a href="#" target="_self"><i class="ci_icon-facebook"></i></a>
								<a href="#" target="_self"><i class="ci_icon-google-plus"></i></a>
								<a href="#" target="_self"><i class="ci_icon-pinterest"></i></a>
							</p>
						</div>
					</div>
					<a href="#">
						<span class="vozx_team_member_name">ANDREA SMITH</span>
						<span class="vozx_team_member_position">ART DIRECTOR</span>
					</a>
					<div class="vozx_team_member_modal">
						<h4 class="vozx_team_member_name">ANDREA SMITH</h4>
						<p class="vozx_team_member_position">ART DIRECTOR</p>
						<div class="vozx_container">
							<div class="vozx_column_dd_span6">
								<img src="images/team3.jpg" alt="ANDREA SMITH">
							</div>
							<div class="vozx_column_dd_span6">
								Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagit tis dapibus nis estibulum dignissim consectetuer nequ Pellentesque vitae purus nonelit.
							</div>
						</div>
						<div class="vozx_team_member_modal_close">X</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section class="vozx_section_dd no_padding" data-background_image="images/background_1.jpg">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="200">
					<div class="vozx-callout_box vozx-callout_box_style_1 ">
						<span class="vozx-callout_box_title"><span class=black>SMEG</span> - Soft Mining Engineering Group</span>
						<a href="#" target="_self" class="vozx-button1 vozx-button_gray vozx-button_rounded vozx-button_large">CONTACTEZ NOUS</a>
						<p>Association de droit Camerounais reconnue par acte<br> légalisé avec pour récépissé de déclaration<br> d'association N° 026/RDA/H.51/SAAJP.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{ sonata_block_render({ 'type': 'sonata.block.service.home.realisations' }, {
		'template': 'block/home/realisations.html.twig'
	}) }}

	<section class="vozx_section_dd aligncenter no_padding_top">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
					<h3>
						<span>ÉCRIVEZ-NOUS</span>
					</h3>
					<div class="vozxcf" id="vozxcf-wrapper" dir="ltr">
						<form action="#" method="post" class="contact-form">
							<div class="hidden">
								<input type="hidden" name="nonce" value="a091ecdcf1">
								<input type="hidden" name="formid" id="formid" value="contact">
							</div>
							<div class="row">
								<div class="span4">
									<span class="your-name">
										<input type="text" name="name" size="40" class="vozxcf-text" placeholder="VOTRE NOM (obligatoire)">
									</span>
								</div>
								<div class="span4">
									<span class="your-email">
										<input type="email" name="email" size="40" class="vozxcf-text vozxcf-email vozxcf-validates-as-email" placeholder="VOTRE EMAIL (obligatoire)">
									</span>
								</div>
								<div class="span4">
									<span class="your-subject">
										<input type="text" name="subject" size="40" class="vozxcf-text" placeholder="VOTRE SUJET">
									</span>
								</div>
							</div>
							<p>
								<span class="your-message">
									<textarea name="message" cols="40" rows="10" class="vozxcf-textarea" placeholder="VOTRE MESSAGE"></textarea>
								</span>
							</p>
							<div class="left_aligned">
								<input type="submit" value="ENVOYER LE MESSAGE" class="vozxcf-submit float_none" id="vozxcf-submit">
							</div>
						</form>
						<div class="vozxcf-response-output vozxcf-display-none"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="vozx_section_dd no_padding section_body_fullwidth">		
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 ">
					<div id="vozx_google_map_1" data-map_type="ROADMAP" data-lat="3.8465774" data-lng="11.5140853" data-zoom="16" data-scrollwheel="0" data-maptypecontrol="0" data-pancontrol="0" data-zoomcontrol="0" data-scalecontrol="0" data-markertitle="LOCATE US ON A MAP" data-markericon="images/marker.png" data-markercontent="Notre adresse" data-markerlat="3.8465774" data-markerlng="11.5140853" class="vozx_google_map vozx_google_map_3"></div>
				</div>
			</div>
		</div>
	</section>
			
{% endblock %}
