{% extends 'base.html.twig' %}

{% block title %} SMEG - Services {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': page
    }) }}

	<div id="ABdev_header_spacer"></div>

	<section id="headline_breadcrumbs_bar" style="background-image: url(/images/background_services.jpg) ">
		<div class="container">
			<div class="row">
				<div class="span12 center_aligned">
					<h2><span class="black">SMEG - </span> Services </h2>
				</div>
			</div>
		</div>
	</section>

	<section id="title_breadcrumbs_bar">
		<div class="container">
			<div class="row">
				<div class="span12 center_aligned">
					<div class="breadcrumbs">
						<a href="index.html">Home</a> / <span class="current">Services</span>
					</div>
				</div>
			</div>
		</div>
	</section>

    {{ sonata_block_render({ 'type': 'sonata.block.service.services.services' }, {
        'template': 'block/services/services.html.twig'
    }) }}

	<section class="vozx_section_dd no_padding" data-background_image="images/background_1.jpg">
		<div>
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
					<div class="vozx-callout_box vozx-callout_box_style_1 ">
						<span class="vozx-callout_box_title">ÊTES-VOUS INTERESSE PAR L'UN DE NOS PRODUITS? CONTACTEZ NOUS</span>
						<p></p>
						<a href="#" target="_self" class="vozx-button1 vozx-button_light vozx-button_rounded vozx-button_large">SOUSCRIVEZ MAINTENANT</a>
					</div>
				</div>
			</div>
		</div>
	</section>

    {{ sonata_block_render({ 'type': 'sonata.block.service.services.argument' }, {
        'template': 'block/services/arguments.html.twig'
    }) }}

	{#
	<section class="vozx_section_dd section_gray">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span4 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="300">
					<div class="vozx_service_box vozx_service_box_boxed">
						<div class="vozx_service_box_header">
							<a href="#" target="_self" class="vozx_icon_boxed">
								<i class="icon-lightbulb-o"></i>
							</a>
							<a href="#" target="_self">
								<h3>Creative and fresh</h3>
							</a>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="vozx_column_dd_span4 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="600">
					<div class="vozx_service_box vozx_service_box_boxed ">
						<div class="vozx_service_box_header">
							<a href="#" target="_self" class="vozx_icon_boxed">
								<i class="icon-gears"></i>
							</a>
							<a href="#" target="_self">
								<h3>Easy To Customize</h3>
							</a>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="vozx_column_dd_span4 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="300">
					<div class="vozx_service_box vozx_service_box_boxed ">
						<div class="vozx_service_box_header">
							<a href="#" target="_self" class="vozx_icon_boxed">
								<i class="icon-gift"></i>
							</a>
							<a href="#" target="_self">
								<h3>Tons Of Features</h3>
							</a>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="vozx_section_dd">
		<div>
			<div class="vozx_container">
				<div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="200">
					<h4>
						<span>HOW IT WORKS</span>
					</h4>
					<p>We understand the process of building websites and mobile applications through our expertise and produce award winning solutions that become popular and make our clients achieve their goals and values.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, magni. Inventore perferendis voluptatum quas consequuntur laudantium perspiciatis qui sint omnis, veniam doloribus doloremque quis molestiae deleniti numquam possimus eaque beatae unde soluta fugit ipsam accusantium aperiam amet deserunt repellat quae! Dolores a fugiat, necessitatibus adipisci excepturi molestias, quasi nostrum. Vitae dolorum pariatur nobis, veritatis reiciendis aliquam perferendis maxime debitis possimus incidunt et blanditiis aperiam cumque, nam officia vel hic error. Corporis minima molestias nobis mollitia, provident est minus veritatis maiores? Vero minus ipsam inventore consequuntur optio esse eum consequatur suscipit, velit ab laudantium magnam autem voluptate aliquid. Beatae sed, ipsum.
					</p>
				</div>
				<div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="200">
					<h4>
						<span>FAQ</span>
					</h4>
					<span class="clear spacer_10">
					</span>
					<div class="vozx-accordion vozx_accordion_icons_left vozx_accordion_circled_icons " data-expanded="2">
						<h3>WHAT IS INCOMEUP?</h3>
						<div class="vozx-accordion-body">
							We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination.
						</div>
						<h3>WHY IS IT BEST PSD?</h3>
						<div class="vozx-accordion-body">
							We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination.
						</div>
						<h3>HOW MUCH DOES IT COST?</h3>
						<div class="vozx-accordion-body">
							We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	#}
	<section class="vozx_section_dd section_with_header section_gray">
		<header>
			<div class="vozx_container">
				<h3>NOS CLIENTS SATISFAITS</h3>
				<p>Heu, devirginato! Acipensers ridetis! Ecce, domesticus adgium! Varius scutum virtualiter visums zeta est. Torquiss observare in nobilis asopus! Gabaliums crescere, tanquam superbus ausus. Decor de fatalis abactus, prensionem triticum!</p>
			</div>
		</header>
		<div>
			<div class="vozx_container">
				<div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
					<div class="ABt_testimonials_wrapper  picture_bottom">
						<ul class="ABt_testimonials_slide" data-play="1" data-fx="crossfade" data-easing="quadratic" data-direction="left" data-duration="1000" data-pauseonhover="immediate" data-timeoutduration="5000">
							<li class="testimonials_item">
								<div class="testimonial_small">
									<p>Heu, devirginato! Acipensers ridetis! Ecce, domesticus adgium! Varius scutum virtualiter visums zeta est. Torquiss observare in nobilis asopus! Gabaliums crescere, tanquam superbus ausus.</p>
									<img src="images/lovely_client1.jpg" alt="team1" />
									<span class="source">
										<span class="ABt_author">William Harper |  DSI MIM </span>
										<a class="ABt_company" href="#" target="_blank">Cmr GOV</a>
									</span>
								</div>
							</li>
							<li class="testimonials_item">
								<div class="testimonial_small">
									<p>Heu, devirginato! Acipensers ridetis! Ecce, domesticus adgium! Varius scutum virtualiter visums zeta est. Torquiss observare in nobilis asopus! Gabaliums crescere, tanquam superbus ausus.</p>
									<img src="images/testimonial_2.png" alt="testimonial_2" />
									<span class="source">
										<span class="ABt_author">Sarah Jones</span>  
										<a class="ABt_company" href="#" target="_blank">
										<br>GEO ANALYSIS SA | CEO of Company</a>
									</span>
								</div>
							</li>
							<li class="testimonials_item">
								<div class="testimonial_small">
									<p>Emeritis habena cito apertos nuptia est. Guttus ridetiss, tanquam castus abnoba. Germanus secula vix pugnas indictio est. Orgias observare in chremisa! Heu, raptus nix! Nunquam experientia fides. Nunquam gratia indictio.
									</p>
									<img src="images/team2.jpg" alt="team2" />
									<span class="source">
										<span class="ABt_author">Dave Sergio, manager at</span>  
										<a class="ABt_company" href="#" target="_blank">Awesome inc.</a>
									</span>
								</div>
							</li>
						</ul>
						<div class="ABt_pagination">	
						</div>
					</div>
				</div>

				<div class="vozx_column_dd_span2 center_aligned">
					<span class="clear spacer_16"></span>
					<div class="vozx-animo zoom" data-animation="flip" data-duration="1000" data-delay="300">
						<img src="images/partners1.png" alt="">
					</div>
					<span class="clear spacer_30"></span>
					<div class="vozx-animo zoom" data-animation="flip" data-duration="1000" data-delay="700">
						<img src="images/partners4.png" alt="">
					</div>
				</div>
				<div class="vozx_column_dd_span2 center_aligned">
					<span class="clear spacer_16"></span>
					<div class="vozx-animo zoom" data-animation="flip" data-duration="1000" data-delay="700">
						<img src="images/partners2.png" alt="">
					</div>
					<span class="clear spacer_30"></span>
					<div class="vozx-animo zoom" data-animation="flip" data-duration="1000" data-delay="300">
						<img src="images/partners5.png" alt="">
					</div>
				</div>
				<div class="vozx_column_dd_span2 center_aligned">
					<span class="clear spacer_16"></span>
					<div class="vozx-animo zoom" data-animation="flip" data-duration="1000" data-delay="300">
						<img src="images/partners3.png" alt="">
					</div>
					<span class="clear spacer_30"></span>
					<div class="vozx-animo zoom" data-animation="flip" data-duration="1000" data-delay="700">
						<img src="images/partners6.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="vozx_section_dd no_padding">
		<div>
			<div class="vozx_container">
				<div class="vozx_column_dd_span12 vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="200">
					<div class="vozx-callout_box vozx-callout_box_style_2 ">
						<span class="vozx-callout_box_title">ÊTES-VOUS PRÊTE POUR L'EXPERTISE? ECRIVEZ-NOUS.</span>
						<p>Abactors tolerare! Rumors assimilant in fidelis amivadum! Vae, flavum coordinatae! Heu, cannabis! Nuclear vexatum iaceres sunt ventuss de bassus parma. Ubi est raptus gluten? Gluten, contencio, et pars. Vigils mori! Apolloniatess sunt elogiums de varius canis.</p>
						<a href="#" target="_self" class="vozx-button1 vozx-button_red vozx-button_rounded vozx-button_large">CONTACTEZ-NOUS</a>
					</div>
				</div>
			</div>
		</div>
	</section>

			
{% endblock %}
