{% extends 'base.html.twig' %}

{% block title %} SMEG - Services {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': page
    }) }}

	<div id="ABdev_header_spacer"></div>

	<section id="headline_breadcrumbs_bar" style="background-image: url(/images/background_services.jpg) ">
		<div class="container">
			<div class="row">
				<div class="span12 center_aligned">
					<h2><span class="black">SMEG - </span> Services - {{ service.nom }}</h2>
				</div>
			</div>
		</div>
	</section>

	<section id="title_breadcrumbs_bar">
		<div class="container">
			<div class="row">
				<div class="span12 center_aligned">
					<div class="breadcrumbs">
						<a href="{{ path('home') }}">Home</a> / <a href="{{ path('services') }}">Services</a> / <span class="current">{{ service.nom }}</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="vozx_section_dd">
		<div class="vozx_section_content">
			<div class="vozx_container">
				<div class="vozx_column_dd_span6 ">
					<div class="vozx-animo " data-animation="fadeIn" data-duration="1000" data-delay="0">
                        {% media service.image, 'big' %}
					</div>
				</div>
				<div class="vozx_column_dd_span6 info vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="200">
					<h3>
						<span>{{ service.nom|upper }}</span>
					</h3>
					<div>
						{{ service.contenu }}
					</div>
					<span class="clear spacer_responsive_hide_mobile spacer_responsive_hide_tablet spacer_25"></span>
					<div class="more_space">
						{% if service.responsable %}
						<div class="row">
							<div class="col-lg-3">
                                {% media service.responsable.photoDeProfil, 'small' %}
							</div>
							<div class="col-lg-9">
								<p>
									<strong>Responcable:</strong> {{ service.responsable.username|upper }}<br />
									<strong>Experience:</strong> 15 Ans<br />
									<strong>Nombres de travaux:</strong> 10<br />
									<strong>Nombres de clients:</strong> 8<br />
								</p>
							</div>
						</div>
						{% else %}
						<p>
							<strong>Responcable:</strong> N/A<br />
							<strong>Experience:</strong> 15 Ans<br />
							<strong>Nombres de travaux:</strong> 10<br />
							<strong>Nombres de clients:</strong> 8<br />
						</p>
						{% endif %}
					</div>

					<span class="clear spacer_responsive_hide_mobile spacer_responsive_hide_tablet spacer_15"></span>
					{#
					<h6>
						<span>GET IN TOUCH</span>
					</h6>
					<span class="clear spacer_15"></span>
					<div class="vozx_follow_us">
						<a class="vozx_socialicon vozx_socialicon_facebook vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Facebook">
							<i class="ci_icon-facebook"></i>
						</a>
						<a class="vozx_socialicon vozx_socialicon_twitter vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Twitter">
							<i class="ci_icon-twitter"></i>
						</a>
						<a class="vozx_socialicon vozx_socialicon_googleplus vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Google+">
							<i class="ci_icon-google-plus"></i>
						</a>
						<a class="vozx_socialicon vozx_socialicon_pinterest vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Pinterest">
							<i class="ci_icon-pinterest"></i>
						</a>
						<a class="vozx_socialicon vozx_socialicon_behance vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Our Behance Profile">
							<i class="ci_icon-behance"></i>
						</a>
					</div>
					#}
				</div>
			</div>
		</div>
	</section>

	<section>
		<header>
			<div class="vozx_container">
				<h3>NOS COMPÉTENCES</h3>
				<p>Mineralis experimentums, tanquam lotus planeta. Cannabiss cantare, tanquam azureus bromium.</p>
			</div>
		</header>

		<div class="container ">
			<div class="row portfolio_4column portfolio_4column_gallery">
				<div class="portfolio_full_width span12 content ">
					<div class="row">
						{% for sousService in service.sousServices %}
						<div class="span3">
							<div class="portfolio_item">
								<div class="overlayed overlayed_detailed">
                                    {% media sousService.logo, 'small' %}
									<a class="overlay" href="{{ path('en_construction') }}">
										<p class="overlay_title">{{ sousService.nom }}</p>
										<p class="portfolio_item_tags">
                                            {{ sousService.description }}
										</p>
									</a>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

			
{% endblock %}
