{% trans_default_domain 'FOSUserBundle' %}



{% extends 'base.html.twig' %}

{% block title %} SMEG - Services {% endblock %}

{% block body %}

    {{ parent() }}
    {{ sonata_block_render({ 'type': 'sonata.block.service.menu' }, {
        'template': 'block/menu.html.twig',
        'page': -1
    }) }}

    <div id="ABdev_header_spacer"></div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <h3>Création de compte</h3>
                </div>

                <div class="span4 content ">
                </div>

                <div class="span4 content well">

                    <div class="col-lg-4 col-lg-offset-4">
                        {{ form_start(form, {'method': 'post', 'action': path('user_registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>

                <div class="span4 content ">
                </div>
            </div>
        </div>
    </section>


{% endblock %}
