<section class="vozx_section_dd no_padding section_with_header">
    <header>
        <div class="vozx_container">
            <h3>ARTICLES DE BLOG</h3>
        </div>
    </header>
    <div class="vozx_section_content">
        <div class="vozx_container">
            <div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="200">
                <div class="vozx-animo" data-animation="fadeIn" data-duration="1000" data-delay="0">
                    <img src="images/office_image.jpg" alt="">
                </div>
            </div>
            <div class="vozx_column_dd_span6 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="200">
                <div class="vozx-accordion vozx_accordion_borderless" data-expanded="0">
                    {% for post in posts %}
                    <h3>{{ post.title | upper }}</h3>
                    <div class="vozx-accordion-body">
                    {{ post.abstract }}
                    </div>
                    {% endfor %}
                </div>

                <div class="more_portfolio_link"><a href="{{ path('sonata_news_archive') }}">LIRE PLUS</a></div>
            </div>
        </div>
    </div>
</section>
