<section class="vozx_section_dd section_body_fullwidth section_with_header">
    <header>
        <div class="vozx_container">
            <h3>NOS TRAVAUX</h3>
        </div>
    </header>
    <div class="vozx_section_content">
        <div class="vozx_container">
            <div class="vozx_column_dd_span12 ">
                <ul class="portfolio_filter option-set clearfix" data-option-key="filter">
                    <li>
                        <a href="#" data-option-value="*" class="portfolio_filter_button selected">TOUS</a>
                    </li>
                    <li>
                        <a href="#" class="portfolio_filter_button" data-option-value=".illustrations">MINES</a>
                    </li>
                        <li>
                        <a href="#" class="portfolio_filter_button" data-option-value=".uiux">GENIE CIVIL</a>
                    </li>
                        <li>
                        <a href="#" class="portfolio_filter_button" data-option-value=".identity">ENVIRONEMENT</a>
                    </li>
                        <li>
                        <a href="#" class="portfolio_filter_button" data-option-value=".branding">CARTOGRAPHIE</a>
                    </li>
                </ul>
                <div class="ABdev_latest_portfolio clearfix">
                    <div class="portfolio_front portfolio_item portfolio_item_4 illustrations uiux">
                        <div class="overlayed">
                            <img src="images/portfolio1.jpg" alt="portfolio1" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio1.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Blissfull Peace</p>
                                <p class="portfolio_item_tags">
                                    Illustrations, UI/UX
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 identity uiux">
                        <div class="overlayed">
                            <img src="images/portfolio7.jpg" alt="portfolio7" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio7.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Mountain Paradise</p>
                                <p class="portfolio_item_tags">
                                    Identity, UI/UX
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 identity illustrations">
                        <div class="overlayed">
                            <img src="images/portfolio4.jpg" alt="portfolio4" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio4.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Sky Idyll</p>
                                <p class="portfolio_item_tags">
                                    Identity, Illustrations
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 identity illustrations">
                        <div class="overlayed">
                            <img src="images/portfolio12.jpg" alt="portfolio12" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio12.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Lake Shore</p>
                                <p class="portfolio_item_tags">
                                    Identity, Illustrations
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 branding illustrations">
                        <div class="overlayed">
                            <img src="images/portfolio11.jpg" alt="portfolio11" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio11.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Morning Mist</p>
                                <p class="portfolio_item_tags">
                                    Branding, Illustrations
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 branding identity">
                        <div class="overlayed">
                            <img src="images/portfolio10.jpg" alt="portfolio10" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio10.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Peaceful Waterfall</p>
                                <p class="portfolio_item_tags">
                                    Branding, Identity
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 branding">
                        <div class="overlayed">
                            <img src="images/portfolio_image_2.jpg" alt="portfolio_image_2" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio_image_2.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">My Dream House</p>
                                <p class="portfolio_item_tags">
                                    Branding
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_front portfolio_item portfolio_item_4 illustrations uiux">
                        <div class="overlayed">
                            <img src="images/portfolio_image.jpg" alt="portfolio_image" />
                            <div class="overlay">
                                <div class="portfolio_icons_container">
                                    <a class="portfolio_icon fancybox" data-fancybox-group="portfolio" href="images/portfolio_image.jpg"><i class="ci_icon-search"></i></a>
                                    <a class="portfolio_icon" href="single-portfolio.html"><i class="ci_icon-linkalt"></i></a>
                                </div>
                                <p class="overlay_title">Private Island</p>
                                <p class="portfolio_item_tags">
                                    Illustrations, UI/UX
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more_portfolio_link"><a href="#">VOIR PLUS</a></div>
            </div>
        </div>
    </div>
</section>
