<section class="vozx_section_dd section_with_header mani_not_padding_botton">
    <header>
        <div class="vozx_container">
            <h3>NOS SERVICES</h3>
            <p>Morbi sem magnad viverra quis sollicitudin quis sed nunc sagittis dapibus nisl augue sed auris</p>
        </div>
    </header>
</section>
<section class="vozx_section_dd section_with_header mani_not_padding" >
    <div class="vozx_section_content">
        <div class="vozx_container">
            {% set longeur = services|length %}
            {% if services|length > 0 %}
            {% for i in 0..longeur-1 %}
            <div class="vozx_column_dd_span3 vozx-animo" data-animation="fadeInDown" data-duration="1000" data-delay="200">
                <div class="vozx_service_box vozx_service_box_unboxed_square">
                    <div class="vozx_service_box_header">
                        <div class="vozx_icon_boxed">
                            {% media services[i].logo, 'small' %}
                        </div>
                        <h3>{{ services[i].nom }}</h3>
                    </div>
                    <p>{{ services[i].description }}</p>
                </div>
            </div>
                {% if loop.index is divisible by(4) %}
        </div>
        <div class="vozx_container">
                {% endif %}
            {% endfor %}
                {% if longeur is not divisible by(4) %}
            </div>
                {% endif %}
            {% else %}
                Pas de services
            {% endif %}
        </div>
    </div>		
</section>

