<div id="ABdev_header_spacer"></div>

<section id="ABdev_main_slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:850px;">
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:850px;height:850px;">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/slider1.jpg') }}"  alt="slider1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Lato_Big_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="295" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        NOUS SOMMES SMEG
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-fade" data-x="right" data-hoffset="-269" data-y="300" data-speed="0" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 3;">
                        <img src="images/element.png" alt="">
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-fade" data-x="right" data-hoffset="-877" data-y="300" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 4;">
                        <div class="tp-layer-inner-rotation" style=" -moz-transform: rotate(181deg); -ms-transform: rotate(181deg); -o-transform: rotate(181deg); -webkit-transform: rotate(181deg); transform: rotate(181deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
                            <img src="{{ asset('images/element.png') }}" alt="">
                        </div>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Lato_Small_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        Soft Mining Engineering Group
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption Lato_Small_White2 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="60" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 6; max-width: auto; max-height: auto; white- ace: nowrap;">
                        Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagittis dapibus nis estibulum<br>
                        dignissim consectetuer neque. Pellentesque vitae purus non elit
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="-55" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 7;">
                        <a href="#" target="_blank"><img src="{{ asset('images/fb_button.png') }}" alt=""></a>
                    </div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="-15" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 8;">
                        <a href="#"><img src="{{ asset('images/tw_button.png') }}" alt=""></a>
                    </div>
                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="65" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 9;">
                        <a href="#"><img src="{{ asset('images/pin_button.png') }}" alt=""></a>
                    </div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="25" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 10;">
                        <a href="#"><img src="{{ asset('images/gp_button.png') }}" alt=""></a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/slider2.jpg') }}"  alt="slider2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Lato_Big_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="295"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        Soft Mining Engineering Group
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-fade" data-x="right" data-hoffset="-169" data-y="300"  data-speed="0" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 3;">
                        <img src="{{ asset('images/element.png') }}" alt="">
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-fade" data-x="right" data-hoffset="-977" data-y="300" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 4;">
                        <div class="tp-layer-inner-rotation" style="-moz-transform: rotate(181deg); -ms-transform: rotate(181deg); -o-transform: rotate(181deg); -webkit-transform: rotate(181deg); transform: rotate(181deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
                            <img src="{{ asset('images/element.png') }}" alt="">
                        </div>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Lato_Small_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        association à caractère scientifique, technique, technologique, éducatif et social.
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption Lato_Small_White2 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="60" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        Donec nibh elit Morbi sem magnad viverra quis sollicitudin quis Nunc sagittis dapibus nis estibulum<br>
                        dignissim consectetuer neque. Pellentesque vitae purus non elit
                    </div>
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="-55" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 7;">
                        <a href="#" target="_blank"><img src="images/fb_button.png" alt=""></a>
                    </div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="-15" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 8;">
                        <a href="#"><img src="images/tw_button.png" alt=""></a>
                    </div>
                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="65" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 9;">
                        <a href="#"><img src="images/pin_button.png" alt=""></a>
                    </div>
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-fade" data-x="center" data-hoffset="25" data-y="225"  data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 10;">
                        <a href="#"><img src="images/gp_button.png" alt=""></a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
                    <!-- MAIN IMAGE -->
                    <img src="images/slider3.jpg"  alt="slider3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lft" data-x="center" data-hoffset="0" data-y="center" data-voffset="-13" data-speed="2500" data-start="500" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2;">
                        <img src="images/front_tablet.png" alt="">
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption lfr" data-x="right" data-hoffset="0" data-y="center" data-voffset="0" data-speed="2500" data-start="500" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3;">
                        <img src="images/right_tablet.png" alt="">
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption lfl" data-x="5" data-y="center" data-voffset="0" data-speed="2500" data-start="500" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4;">
                        <img src="images/left_tablet.png" alt="">
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Lato_Big_White tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-80" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-captionhidden="on" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        NOUS SOMMES SMEG
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>
