{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ sonata_block_render({ 'type': 'sonata.block.service.tp' }, {
        'template': 'block/test.html.twig'
    }) }}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/DefaultController.php</code></li>
        <li>Your template at <code>templates/default/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
