{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'knp_menu.html.twig' %}

{% block label %}
    {% set translation_domain = item.getExtra('translation_domain', 'SonataSeoBundle') %}
    {% if options.allow_safe_labels and item.extra('safe_label', false) %}
        {{- item.label|raw -}}
    {% elseif translation_domain is same as(false) %}
        {{- item.label -}}
    {% else %}
        {{- item.label|trans(item.getExtra('translation_params', {}), translation_domain) -}}
    {% endif %}
{% endblock %}

{% block list %}
    {% spaceless %}
        {% import 'knp_menu.html.twig' as macros %}

        {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
            <ol class="file_d_ariane breadcrumb">
                {{ block('children') }}
            </ol>
        {% endif %}
    {% endspaceless %}
{% endblock %}
