<header id="ABdev_main_header" class="clearfix default">
    <div>
        <div class="container">
            <div id="logo">
                <a href="{{ path('home') }}">
                    <img src="/images/logo.png" alt="VozX">
                </a>
            </div>
            <nav>
                <ul>
                    {#<li class="current-menu-item">#}
                        {#{{ sonata_seo_title() }}#}
                    {#</li>#}
                    <li class="">
                        <a href="{{ path('home') }}"><span>ACCUEIL</span></a>
                    </li>
                    <li class="mega6 menu-item-has-children">
                        <a href="{{ path('services') }}"><span>Services</span></a>
                        <div class="sf-mega">
                            <div class="sf-mega-inner clearfix">
                                <ul>
                                    {% for service in services %}
                                    <li class="menu-item-has-children"><a href="{{ path('service',{id: service.id}) }}"><span>{{ service.nom }}</span></a>
                                        <ul>
                                            {% for sousService in service.sousServices %}
                                            <li><a href="#"><span>{{ sousService.nom }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <a href="{{ path('en_construction') }}"><span>À propos de nous</span></a>
                    </li>
                    <li class="mega6 menu-item-has-children">
                        <a href="{{ path('en_construction') }}"><span>réalisations</span></a>
                        <div class="sf-mega">
                            <div class="sf-mega-inner clearfix">
                                <ul>
                                    <!--
                                        <li class="menu-item-has-children">
                                            <a href="#" class="scroll"><span>Single Column</span></a>
                                            <ul>
                                                <li><a href="portfolio-single-simple.html"><span>Simple</span></a></li>
                                                <li><a href="portfolio-single-left.html"><span>Left sidebar</span></a></li>
                                                <li><a href="portfolio-single-right.html"><span>Right sidebar</span></a></li>
                                                <li><a href="portfolio-single-desc.html"><span>With description</span></a></li>
                                                <li><a href="portfolio-single-desc-left.html"><span>With description left sidebar</span></a></li>
                                                <li><a href="portfolio-single-desc-right.html"><span>With description right sidebar</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#" class="scroll"><span>2 Column</span></a>
                                            <ul>
                                                <li><a href="portfolio-2-col-simple.html"><span>Simple</span></a></li>
                                                <li><a href="portfolio-2-col-left.html"><span>Left sidebar</span></a></li>
                                                <li><a href="portfolio-2-col-right.html"><span>Right sidebar</span></a></li>
                                                <li><a href="portfolio-2-col-desc.html"><span>With description</span></a></li>
                                                <li><a href="portfolio-2-col-desc-left.html"><span>With description left sidebar</span></a></li>
                                                <li><a href="portfolio-2-col-desc-right.html"><span>With description right sidebar</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#" class="scroll"><span>3 Column</span></a>
                                            <ul>
                                                <li><a href="portfolio-3-col-simple.html"><span>Simple</span></a></li>
                                                <li><a href="portfolio-3-col-left.html"><span>Left sidebar</span></a></li>
                                                <li><a href="portfolio-3-col-right.html"><span>Right sidebar</span></a></li>
                                                <li><a href="portfolio-3-col-desc.html"><span>With description</span></a></li>
                                                <li><a href="portfolio-3-col-desc-left.html"><span>With description left sidebar</span></a></li>
                                                <li><a href="portfolio-3-col-desc-right.html"><span>With description right sidebar</span></a></li>
                                                <li><a href="portfolio-3-col-fw.html"><span>Full width</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#" class="scroll"><span>4 Column</span></a>
                                            <ul>
                                                <li><a href="portfolio-4-col-simple.html"><span>Simple</span></a></li>
                                                <li><a href="portfolio-4-col-left.html"><span>left sidebar</span></a></li>
                                                <li><a href="portfolio-4-col-right.html"><span>right sidebar</span></a></li>
                                                <li><a href="portfolio-4-col-desc.html"><span>With description</span></a></li>
                                                <li><a href="portfolio-4-col-desc-left.html"><span>With description left sidebar</span></a></li>
                                                <li><a href="portfolio-4-col-desc-right.html"><span>With description right sidebar</span></a></li>
                                                <li><a href="portfolio-4-col-fw.html"><span>Full width</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#" class="scroll"><span>5 Column</span></a>
                                            <ul>
                                                <li><a href="portfolio-5-col.html"><span>Full width</span></a></li>
                                                <li class="menu_header"><a href="#" class="scroll"><span>Portfolio List</span></a></li>
                                                <li><a href="portfolio-list-fw.html"><span>Full width</span></a></li>
                                                <li><a href="portfolio-list-left.html"><span>Left sidebar</span></a></li>
                                                <li><a href="portfolio-list-right.html"><span>Right sidebar</span></a></li>
                                                <li class="menu_header"><a href="#" class="scroll"><span>Masonry</span></a></li>
                                                <li><a href="portfolio-masonry.html"><span>Portfolio - Masonry</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#" class="scroll"><span>Gallery</span></a>
                                            <ul>
                                                <li><a href="portfolio-gallery-single.html"><span>Single column</span></a></li>
                                                <li><a href="portfolio-gallery-single-2.html"><span>Single column style 2</span></a></li>
                                                <li><a href="portfolio-gallery-2col.html"><span>2 columns</span></a></li>
                                                <li><a href="portfolio-gallery-2col-2.html"><span>2 columns style 2</span></a></li>
                                                <li><a href="portfolio-gallery-3col.html"><span>3 columns</span></a></li>
                                                <li><a href="portfolio-gallery-3col-2.html"><span>3 columns style 2</span></a></li>
                                                <li><a href="portfolio-gallery-4col.html"><span>4 columns</span></a></li>
                                                <li><a href="portfolio-gallery-4col-2.html"><span>4 columns style 2</span></a></li>
                                            </ul>
                                        </li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mega6 menu-item-has-children">
                        <a href="{{ path('sonata_news_home') }}"><span>Blog</span></a>
                        <div class="sf-mega">
                            <div class="sf-mega-inner clearfix">
                                <ul>
                                    {% for service in services %}
                                        <li class="menu-item-has-children"><a href="#"><span>{{ service.nom }}</span></a>
                                            <ul>
                                                {% for sousService in service.sousServices %}
                                                    <li><a href="#"><span>{{ sousService.nom }}</span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <a href="{{ path('en_construction') }}"><span>Contact</span></a>
                    </li>
                    <li><a href="{{ path('en_construction') }}"><span>F.A.Q.</span></a></li>
                    <li class="mega6 menu-item-has-children">
                        <a href="#"><i class="fa fa-user"></i></a>
                        {% if is_granted("ROLE_USER") %}
                            <ul id="user_menu">
                                <li class="pas_de_retour_a_la_ligne"><a href="{{ path('fos_user_security_logout') }}"><span><i class="fa fa-logout"></i> Se déconnecter</span></a></li>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li class="pas_de_retour_a_la_ligne"><a href="{{ path('sonata_admin_dashboard') }}"><span><i class="fa cog"></i> Administration</span></a></li>
                                {% else %}
                                    {#comming soon#}
                                {% endif %}
                            </ul>
                        {% else %}
                            <ul id="user_menu">
                                <li class="pas_de_retour_a_la_ligne"><a href="{{ path('sonata_user_admin_security_login') }}"><span><i class="fa fa-sign-in"></i> Se connecter</span></a></li>
                                <li class="pas_de_retour_a_la_ligne"><a href="{{ path('user_registration') }}"><span><i class="fa plus"></i> Créer un compte</span></a></li>
                                <li class="pas_de_retour_a_la_ligne"><a href="{{ path('user_admin_registration') }}"><span><i class="fa plus"></i> Créer un compte admin</span></a></li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <div id="ABdev_menu_toggle"><i class="ci_icon-navicon"></i></div>
        </div>
    </div>
</header>

{% block specialjavascripts %}
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $("nav>ul>li:eq({{ page }})").attr('class','current-menu-item')
        });
    </script>
{% endblock %}
