<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
	<meta name="description" content="Vozx HTML5 premium template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />		
	<!--[if lt IE 9]>
	  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,900" type="text/css">
    <link rel="stylesheet" href="/rs-plugin/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/core-icons/core_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/icons/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/scripts.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
</head>

<body>
    <body>
        {% block body %}


        {% endblock %}

        {% block javascripts %}

            <footer id="ABdev_main_footer">
                <a href="#" id="back_to_top" title="Back to top"><i class="ci_icon-angle-double-up"></i></a>
                    <div id="footer_copyright">
                        <div class="container">
                            <div class="row">
                                <div id="footer_container">
                                    <div class="row">
                                        <div class="logo span6">
                                            <a href="{{ path('home') }}"><img src="/images/logo.png" alt="VozX"></a>
                                        </div>
                                        <div id="footer_social" class="span6">
                                            <a href="#" target="_blank">
                                                <i class="ci_icon-facebook"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="ci_icon-google-plus"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="ci_icon-twitter"></i>
                                            </a>
                                            <a href="#" target="_blank">
                                                <i class="ci_icon-pinterest"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="span12 footer_copyright center_aligned">
                                    © 201<span lang="en-my">8</span> <a href="#">
                                        <span lang="en-my">
                                            Adrien MOMO
                                        </span>
                                    </a>
                                </div>
{#
                                <div class="span12 footer_copyright center_aligned">
                                    © 201<span lang="en-my">8</span> <a href="https://www.facebook.com/SERTCO-SARL-658489034248411">
                                        <span lang="en-my">
                                            SERTCO sarl
                                        </span>
                                    </a>
                                </div>
#}
                            </div>
                        </div>
                    </div>
            </footer>
            <script type="text/javascript" src="/js/jquery.js"></script>
            <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
            <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
            <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
            <script type="text/javascript" src="/js/prettify.js"></script>
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;ver=4.0.1"></script>
            <script type="text/javascript" src="/js/scripts.js"></script>
            <script type="text/javascript" src="/js/custom.js"></script>

        {% endblock %}
        {% block specialjavascripts %}
        {% endblock %}
    </body>
</html>
