<aside class="span3 sidebar sidebar_right">
        <div class="widget">
            <div class="widget_search">
                <form name="search" id="search" method="get" action="#">
                    <input name="s" type="text" placeholder="Search" value="">
                    <a class="submit">
                        <i class="ci_icon-search"></i>
                    </a>
                </form>
            </div>
        </div>
        <div class="widget widget_categories">
            <div class="sidebar-widget-heading">
                <h3>BLOG CATEGORIES</h3>
            </div>
            <ul>
                <li><a href="blog-masonry-2col.html">Blog Masonry 2 Columns</a></li>
                <li><a href="blog-masonry-2col-left.html">Blog Masonry 2 Columns With Left Sidebar</a></li>
                <li><a href="blog-masonry-2col-right.html">Blog Masonry 2 Columns With Right Sidebar</a></li>
                <li><a href="blog-masonry-3col.html">Blog Masonry 3 Columns</a></li>
                <li><a href="blog-masonry-3col-left.html">Blog Masonry 3 Columns With Left Sidebar</a></li>
                <li><a href="blog-masonry-3col-right.html">Blog Masonry 3 Columns With Right Sidebar</a></li>
                <li><a href="blog-masonry-4col.html">Blog Masonry 4 Columns</a></li>
                <li><a href="blog-mini-2col.html">Blog Mini 2 Columns</a></li>
                <li><a href="blog-mini-fw.html">Blog Mini Full Width</a></li>
                <li><a href="blog-mini-left.html">Blog Mini With Left Sidebar</a></li>
                <li><a href="blog-mini-right.html">Blog Mini With Right Sidebar</a></li>
                <li><a href="blog-dual.html">Dual Sidebars</a></li>
                <li><a href="blog-fw-1.html">Fullwidth Blog</a></li>
                <li><a href="blog-fw-2.html">Fullwidth Blog Style 2</a></li>
                <li><a href="blog-fw-3.html">Fullwidth Blog Style 3</a></li>
                <li><a href="blog-left-1.html">Left Sidebar Blog</a></li>
                <li><a href="blog-left-2.html">Left Sidebar Blog Style 2</a></li>
                <li><a href="blog-left-3.html">Left Sidebar Blog Style 3</a></li>
                <li><a href="blog-right-1.html">Right Sidebar Blog</a></li>
                <li><a href="blog-right-2.html">Right Sidebar Blog Style 2</a></li>
                <li><a href="blog-right-3.html">Right Sidebar Blog Style 3</a></li>
                <li><a href="blog-timeline.html">Timeline Blog</a></li>
            </ul>
        </div>
        <div class="widget">
            <div class="sidebar-widget-heading">
                <h3>LATEST POSTS</h3>
            </div>
            <div class="rpwe-block">
                <ul>
                    <li class="rpwe-clearfix">
                        <a href="blog-single-post.html" rel="bookmark">
                            <img class="rpwe-thumb" src="images/ccc.jpg" alt="New Green Market in France">
                        </a>
                        <h3 class="rpwe-title">
                            <a href="blog-single-post.html" title="Permalink to New Green Market in France" rel="bookmark">New Green Market in France</a>
                        </h3>
                        <time class="rpwe-time published" datetime="2013-08-22T12:09:06+00:00">August 22, 2013</time>
                    </li>
                    <li class="rpwe-clearfix">
                        <a href="blog-single-post.html"  rel="bookmark">
                            <img class="rpwe-thumb" src="images/videovimeo-70x70.jpg" alt="Blog Post with Vimeo">
                        </a>
                        <h3 class="rpwe-title">
                            <a href="blog-single-post.html" title="Permalink to Blog Post with Vimeo" rel="bookmark">Blog Post with Vimeo</a>
                        </h3>
                        <time class="rpwe-time published" datetime="2013-08-12T08:12:33+00:00">August 12, 2013</time>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget">
            <div class="sidebar-widget-heading">
                <h3>TEXT WIDGET</h3>
            </div>
            <div class="textwidget">Phasellus imperdiet libero sit amet ant nec convallis elementum ldeo. Cumbg muslobo rtis consequat purus. Ult viverra velit utde pede. Nulla at dui. Maece nasl at urna. Cras non lectus.</div>
        </div>
        <div class="widget">
            <div class="sidebar-widget-heading">
                <h3>TAGS</h3>
            </div>
            <div class="tagcloud">
                <a href='blog-single-post.html' title='1 topic'>awesome</a>
                <a href='blog-single-post.html' title='28 topics'>business</a>
                <a href='blog-single-post.html' title='1 topic'>cool</a>
                <a href='blog-single-post.html' title='27 topics'>corporate</a>
                <a href='blog-single-post.html' title='27 topics'>creative</a>
                <a href='blog-single-post.html' title='28 topics'>fresh</a>
                <a href='blog-single-post.html' title='27 topics'>modern</a>
                <a href='blog-single-post.html' title='1 topic'>new</a>
                <a href='blog-single-post.html' title='27 topics'>responsive</a>
            </div>
        </div>
        <div class="widget">
            <div class="sidebar-widget-heading">
                <h3>SOCIAL MEDIA</h3>
            </div>
            <div class="textwidget">
                <div class="vozx_follow_us">
                    <a class="vozx_socialicon vozx_socialicon_facebook vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Facebook">
                        <i class="ci_icon-facebook"></i>
                    </a>
                    <a class="vozx_socialicon vozx_socialicon_twitter vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Twitter">
                        <i class="ci_icon-twitter"></i>
                    </a>
                    <a class="vozx_socialicon vozx_socialicon_googleplus vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Google+">
                        <i class="ci_icon-google-plus"></i>
                    </a>
                    <a class="vozx_socialicon vozx_socialicon_linkedin vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Linkedin">
                        <i class="ci_icon-linkedin"></i>
                    </a>
                    <a class="vozx_socialicon vozx_socialicon_pinterest vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Follow us on Pinterest">
                        <i class="ci_icon-pinterest"></i>
                    </a>
                    <a class="vozx_socialicon vozx_socialicon_vimeo vozx_tooltip" data-gravity="s" href="#" target="_blank" title="Our Vimeo Profile">
                        <i class="ci_icon-vimeo"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="sidebar-widget-heading">
                <h3>LATEST TWEETS</h3>
            </div>
            <div class="textwidget">
                <div class="ab-tweet-scroller " data-fx="fade" data-play="true" data-easing="linear" data-duration="1000" data-pauseonhover="immediate" data-timeoutduration="5000">
                    <ul class="ab-tweet-scroller-inner">
                        <li class="ab-tweet-item">
                            <a class="ab-tweet-username" href="#" target="_blank">ab_themes_com</a>
                            <a class="ab-tweet-date" href="#" target="_blank">about 2 months ago</a>
                            <div class="ab-tweet-text">Long expected <a href="#" target="_blank">#wordpress</a> theme IncomeUp is finally out. Many cool features, unlimited layouts with Drag and Drop..
                                <a href="#" target="_blank">http://t.co/PiEsmgXuTL</a>
                            </div>
                        </li>
                        <li class="ab-tweet-item">
                            <a class="ab-tweet-username" href="#" target="_blank">ab_themes_com</a>
                            <a class="ab-tweet-date" href="#" target="_blank">about 3 months ago</a>
                            <div class="ab-tweet-text">Here is our new <a href="#" target="_blank">#WordPress</a> theme with Drag and Drop and lot of cool features <a href="#" target="_blank">http://t.co/iXMzcnv4ky</a>
                            </div>
                        </li>
                        <li class="ab-tweet-item">
                            <a class="ab-tweet-username" href="#" target="_blank">ab_themes_com</a>
                            <a class="ab-tweet-date" href="#" target="_blank">about 3 months ago</a>
                            <div class="ab-tweet-text">RT <a href="#" target="_blank">@Saijo_George</a>: Find all the FREE stock photos  and videos in one place <a href="#" target="_blank">http://t.co/3my5opGYaU</a>
                            </div>
                        </li>
                        <li class="ab-tweet-item">
                            <a class="ab-tweet-username" href="#" target="_blank">ab_themes_com</a>
                            <a class="ab-tweet-date" href="#" target="_blank">about 3 months ago</a>
                            <div class="ab-tweet-text">
                                <a href="#" target="_blank">@Saijo_George</a> hi, could you please also add our Drag and Drop themes to the collection? 
                                <a href="#" target="_blank">http://t.co/9dbHbqXPPy</a> 
                                Thank you! :)
                            </div>
                        </li>
                        <li class="ab-tweet-item">
                            <a class="ab-tweet-username" href="#" target="_blank">ab_themes_com</a>
                            <a class="ab-tweet-date" href="#" target="_blank">about 3 months ago</a>
                            <div class="ab-tweet-text">
                                <a href="#" target="_blank">#EnvatoElites</a> Hi! could you add us to list :)
                            </div>
                        </li>
                    </ul>
                    <div class="ab-tweet-navigation">
                        <a href="#" class="ab-tweet-prev">&lt;</a> 
                        <a href="#" class="ab-tweet-next">&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
