<section class="vozx_section_dd white_text_header section_with_header section_with_dark_body">
    <header>
        <div class="vozx_container">
            <h3>{{ "Pourquoi nous sommes les meilleurs"|upper }}</h3>
            <p>Tolerare etiam ducunt ad salvus nuptia. Placidus equisos ducunt ad cacula. Est emeritis compater, cesaris. Victrix resisteres, tanquam varius domus. Eheu. Nix, hippotoxota, et ratione. Vigil de domesticus triticum, acquirere exsul!
            </p>
        </div>
    </header>
    <div>
        {% set longeur = arguments|length %}
        {% if arguments|length > 0 %}

            <div class="vozx_container">
                <div class="vozx_column_dd_span4 white_text vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="100">
                {% for i in 0..longeur-1 %}
                    <div class="vozx_service_box vozx_service_box_round_text_aside right_icon">
                        <div class="vozx_service_box_header">
                            <a href="#" target="_self" class="vozx_icon_boxed">
                                {% media arguments[i].logo, 'small' %}
                            </a>
                            <a href="#" target="_self">
                                <h3>{{ arguments[i].nom|upper }}</h3>
                            </a>
                        </div>
                        <p>{{ arguments[i].description }}</p>
                    </div>

                    {% if longeur>1 and loop.index is divisible by( (longeur - (longeur%2))/2 ) and loop.index < longeur%}
                </div>
                {#image du milieu#}
                <div class="vozx_column_dd_span4 ">
					<span class="clear spacer_10">
					</span>
                    <div class="vozx-animo " data-animation="fadeInUp" data-duration="1000" data-delay="300">
                        <img src="images/ipadvert.png" alt="">
                    </div>
                </div>
                <div class="vozx_column_dd_span4 white_text_h3 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="100">
                    {% endif %}

                {% endfor %}
                </div>

                {% if longeur < 2 %}
                {#image du milieu#}
                <div class="vozx_column_dd_span4 ">
					<span class="clear spacer_10">
					</span>
                    <div class="vozx-animo " data-animation="fadeInUp" data-duration="1000" data-delay="300">
                        <img src="images/ipadvert.png" alt="">
                    </div>
                </div>
                <div class="vozx_column_dd_span4 white_text_h3 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="100">
                </div>

                {% endif %}

            </div>

        {% else %}
            <div class="vozx_container">
                <div class="vozx_column_dd_span4 white_text vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="100">
                </div>


                {#image du milieu#}
                <div class="vozx_column_dd_span4 ">
					<span class="clear spacer_10">
					</span>
                    <div class="vozx-animo " data-animation="fadeInUp" data-duration="1000" data-delay="300">
                        <img src="images/ipadvert.png" alt="">
                    </div>
                </div>


                <div class="vozx_column_dd_span4 white_text_h3 vozx-animo" data-animation="fadeInRight" data-duration="1000" data-delay="100">
                </div>
            </div>
        {% endif %}

    </div>
</section>
