<section class="vozx_section_dd section_with_header">
    <header>
        <div class="vozx_container">
            <h3>Nos Services</h3>
            <p>Sunt adgiumes reperire talis, festus ionicis tormentoes. Byssuss experimentum, tanquam peritus nuclear vexatum iacere. Fermium, resistentia, et navis. Parss credere in fidelis piscinam! Eposs assimilant in tornacum!
            </p>
        </div>
    </header>
    <div>
        {% set longeur = services|length %}
        {% if services|length > 0 %}
            <div class="vozx_container">
            {% for i in 0..longeur-1 %}
                <div class="vozx_column_dd_span4 vozx-animo" data-animation="fadeInLeft" data-duration="1000" data-delay="200">
                    <div class="vozx_service_box vozx_service_box_round_text_aside">
                        <div class="vozx_service_box_header">
                            <div class="vozx_icon_boxed vozx_icon_boxed_gray">
                                {% media services[i].logo, 'small' %}
                            </div>
                            <a href="{{ path('service', {id: services[i].id}) }}"><h3>{{ services[i].nom|upper }}</h3></a>
                        </div>
                        <p>{{ services[i].description }}</p>
                    </div>
                </div>
                {% if loop.index is divisible by(3) %}
            </div>
            <div class="vozx_container">
                {% endif %}
            {% endfor %}
            {% if longeur is not divisible by(3) %}
            </div>
            {% endif %}
        {% else %}
            Pas de services
        {% endif %}
    </div>
</section>
